@import "tailwindcss";

@theme {
  --color-navy-blue: hsl(240, 77%, 29%);
  /*#111184 rgb(17,17,132)*/
  --color-powdered-blue: hsl(240, 100%, 73%);
  /*#7373FF rgb(115,115,255)*/
  --color-blue: hsl(240, 79%, 57%);
  /*#3C3CE8 rgb(60,60,232)*/
  --color-blueish-black: hsl(240, 78%, 12%);
  /*#070738 rgb(7,7,56)*/
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}